<html>
  <head>
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body>
    <h1>Official Site of the Empire</h1>
    <h2>Please Log In</h2>
    <form action="/" method="post">

      <fieldset>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username"></input>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password"></input>

        <label for="role">Role</label>
        <input type="text" name="role" placeholder="role"></input>
        <ul>
    </ul>
        <div class="form_submit-button">
          <input type="submit" />
        </div>

      </fieldset>
    </form>
  </body>
</html>
